<div class="private-square span6 offset3 text-center">
  
  <h1>Enter your Punahou credentials</h1>
  <br/>
 <%= simple_form_for @post do |f| %>
  <%= f.input :title, label: "Username", placeholder: 'tlandgraf' %>
  <br/>
  <%= f.input :description, label: "Password", placeholder: '12345678' %>
  <br/>
  <%= f.input :image %>
  <%= f.button :submit, :class => 'btn btn-warning' %>
 <% end %>
 
</div